.buttons
  position: absolute
  bottom: 29px
  right: 50px
  width: 600px
  z-index: 999
  background: #fff
  border-radius: 25px 25px 0 0
  padding-top: 10px
  .buttons-area
    text-align: center
    padding: 10px 0
  button
    height: 27px
    padding: 0 10px
    line-height: 27px
    background: $green
    color: #fff
    font-weight: normal
    text-transform: none
    letter-spacing: 0
  .column-5
    float: left
    width: 35%
    margin-left: 5%
    text-align: left
  .column-7
    float: left
    width: 45%
    margin-left: 5%
  h3
    color: $green
    font-size: 13px
    letter-spacing: 0
  p
    color: $lightLame
    font-size: 11px
    margin: 0
  .row
    display: none
    padding: 0 20px
    &.active
      display: block