.principal-menu
  position: absolute
  left: 0
  top: 0
  width: 280px
  background: rgba(255, 255, 255, 0.8)
  padding: 0 10px 30px
  border-radius: 0 0 25px 25px
  z-index: 999
  .wrapper
  .description
    font-family: Arial, Helvetica, sans-serif
    h3
      color: $green
      font-size: 12px
      font-weight: 800
      margin: 5px 0 0
      letter-spacing: -.03rem
    p
      color: $lightLame
      font-size: 12px
      font-weight: 100
      font-family: Verdana, Geneva, sans-serif
      line-height: 16px
  .accordion
    height: 50%
  ul
    list-style: none
    margin: 5px 0 5px 15px
    &:first-child
      margin-left: 0
  .green-level
    background: $green
  .lame-level
    background: $lame
  .light-lame-level
    background: $lightLame
  .list-label
    font-size: 11px
    color: #fff
    padding: 0 5px
    cursor: pointer
  .logo
    text-align: center
    border-top: 1px solid #b3b3b3
    padding-top: 5px
    img
      max-width: 100%
  .symbols
    padding: 0 40px
    text-align: center
    h3
      background: #808080
      color: #fff
      margin: 0
      margin-bottom: 5px
      font-size: 11px
      letter-spacing: 0
      padding: 1px 0px 1px 5px