.buttons.collapsed
  .buttons-area
    .tab
    button(type='button') Población por edad
    button(type='button') Población por ocupación
    button(type='button') Población por Nivel Socio-Económico
  .active.row#initial
    .column-5
      h3 Retícula Nivel Socioeconómico Escala 800
      p Mapa de localidad cuadriculado de 800 X 800 m con datos estadísticos de la clasificación social en términos de su poder adquisitivo.
    .column-7
      img(src='images/chart.jpg')
  .row
    .responsive-left#age-container
    p Población Total: 11584
  .row
    .responsive-left#occupation-container
    p Población Total: 13069
  .row
    .responsive-left#socioeconomic-level-container
