.principal-menu
  .wrapper
    .description
      h3  ¿Qué es esto?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .accordion
      ul.collapsibleList
        li 
          .green-level.list-label Localidad 1
          ul
            li 
              .lame-level.list-label Mapa base
              ul
                li 
                  .light-lame-level.list-label Demográfico
                  ul
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid1 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                    li Grid 800 m
            li 
              .lame-level.list-label Análisis Espacial
              ul
                li
                  .light-lame-level.list-label Concentración de Población
                li
                  .light-lame-level.list-label Concentración de Población Dluma
                li
                  .light-lame-level.list-label Conectividad
            li 
              .lame-level.list-label Resultados
              ul
                li Resultados
        li 
          .green-level.list-label Localidad 2
    .logo
      img(src="images/carls.png")
    .symbols
      h3  Simbología
      div
        img(src="images/symbology.png")