.principal-menu.collapsed
  .wrapper
    .description
      h3  ¿Qué es esto?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .accordion
      ul.collapsibleList
        li 
          .green-level.list-label Localidad 1
          ul
            li 
              .lame-level.list-label Mapa base
              ul
                li 
                  .light-lame-level.list-label Demográfico
                  ul
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid1 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid2 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                li 
                  .light-lame-level.list-label Competencia
                  ul
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid1 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid2 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                li 
                  .light-lame-level.list-label Sucursales
                  ul
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid1 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                    li
                      .input-wrapper
                        input(type='radio')
                      span.mark.grid2 &nbsp;
                      .mark-description
                        h4 Grid 4000 m
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
            li 
              .lame-level.list-label Análisis Espacial
              ul
                li
                  .input-wrapper
                    input(type='radio')
                  span.mark.human1 &nbsp;
                  .mark-description
                    h4 Concentración de población
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
                    img(src='images/colorp1.png')
                li
                  .input-wrapper
                    input(type='radio')
                  span.mark.human2 &nbsp;
                  .mark-description
                    h4 Concentración de población Diurna
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
                    img(src='images/colorp2.png')
                li
                  .input-wrapper
                    input(type='radio')
                  span.mark.money &nbsp;
                  .mark-description
                    h4 Conectividad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
                    img(src='images/colorp3.png')
            li 
              .lame-level.list-label Resultados
              ul
                li
                  .input-wrapper
                      input(type='radio')
                  span.mark.tick &nbsp;
                  .mark-description
                    h4 Texto Útil
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
        li 
          .green-level.list-label Localidad 2
    .logo
      img(src="images/carls.png")
    .symbols
      h3  Simbología
      div
        img(src="images/symbology.png")
    .tab